<!DOCTYPE html>


<html>

<head>

	<title>Create a new chat room!</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				<a>
				<img src="img/chatbanner.jpg" id="nodelogo1"/>
				</a>
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/securechat2.png" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered web chat</h2>
			</div>
			<h1>Continue Without Signin</h2>
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>


			
			<div class="tutorial">
				<a title="Create1" href="/log" id="create1">
					<h1>Sign in</h1></br>
					
				</a>
				<a title="Create2" href="/sign" id="create2">
					<h2>Register</h2>
					
				</a>
				
			</div>
		</div>

	</section>

</body>
</html>
